/* .user-video-feed {
  width: 100%;
  max-width: 25rem;
  height: 25rem;
  aspect-ratio: 16/9;
  border-radius: 1rem;
  object-fit: cover;
} */
/* 
.mood-element {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
  padding: 1rem;
  flex-wrap: wrap;
}

.mood-element button {
  padding: 0.9rem 1rem;
  border-radius: 0.5rem;
  background-color:  gray;
  color: white;
  border: none;
  cursor: pointer;
  font-size: larger;
} */
